/*color*/
/*font*/
/*font-weight*/
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #262626; }

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .header .brand {
    display: flex;
    align-items: center;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%); }

.header-banner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.about-us {
  height: 100vh;
  display: flex;
  align-items: center; }

.about-us-left {
  width: 40%;
  position: relative;
  left: -200px; }
  .about-us-left img {
    width: 100%;
    opacity: 0.7; }

.about-us-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px;
  box-sizing: border-box; }
  .about-us-right .stars {
    margin: 30px 0; }
  .about-us-right .star {
    font-size: 15px;
    color: #d3ab55;
    margin-left: 10px; }
  .about-us-right .description {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2rem;
    font-style: italic;
    color: #bbb;
    text-align: justify; }
  .about-us-right .description::first-letter {
    padding-left: 50px; }

.gallery .cards-wrapper {
  display: flex;
  flex-wrap: wrap; }

.footer {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .footer .footer-header {
    display: flex;
    align-items: center;
    margin-bottom: 70px; }
  .footer .social-media {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 70px; }
  .footer .social-media-item {
    list-style: none; }
  .footer .social-media-link {
    text-decoration: none;
    font-size: 50px;
    color: #bbb;
    transition: color .7s; }
    .footer .social-media-link:hover {
      color: #d3ab55; }

.footer-copyright-paragraph {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: #bbb;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize; }

.logo {
  font-size: 70px;
  color: #d3ab55;
  border: 3px solid #d3ab55;
  border-radius: 50%;
  margin-right: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center; }

.main-name {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  color: #bbb;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase; }

.sub-name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: #bbb;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase; }

.main-heading {
  font-family: "Dancing Script", cursive;
  font-size: 5rem;
  font-weight: 300;
  color: #d3ab55;
  margin-bottom: 40px; }

.sub-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  color: #bbb;
  margin-bottom: 20px;
  text-align: center; }

.main-btn {
  width: 170px;
  height: 45px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #d3ab55;
  background-color: transparent;
  border: 1px solid #d3ab55;
  outline: none;
  cursor: pointer;
  transition: all 0.4s; }

.main-btn:hover {
  background-color: #d3ab55;
  color: #262626; }

.card {
  width: 33%;
  height: 30vw;
  position: relative;
  overflow: hidden; }
  .card:hover .card-overlay {
    left: 0; }
  .card .card-overlay {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba(211, 171, 85, 0.7);
    color: #fff;
    z-index: 90;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: left 0.7s;
    width: 100%;
    height: 30vw; }
  .card .card-overlay-heading {
    font-family: "Nunito", sans-serif;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: capitalize; }
  .card .card-overlay-paragraph {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: capitalize; }
  .card .card-overlay-btn {
    width: 150px;
    height: 40px;
    color: #d3ab55;
    background-color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid #d3ab55;
    border-radius: 30px;
    outline: none;
    cursor: pointer; }
  .card .card-img {
    object-fit: cover;
    opacity: 0.5; }
